---

import { Image, Picture } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import image from '../assets/bg_home.jpg';


---


<!--  ---------------------------------------------  -->
<!--  ----------  /src/pages/index.astro  ---------  -->
<!--  ---------------------------------------------  -->


<Layout title='Inicio'>

    <h1 class="text-4xl font-bold"> Inicio </h1>

    <a href="/"> Inicio </a>
    <a href="/nosotros"> Nosotros </a>
    <a href="/tienda"> Tienda </a>

    <img src={image.src} />

    <br> <hr /> <br>

    <Image src={image} alt="Background Image" format='avif' />

    <br> <hr /> <br>

    <Picture src={image} alt="Background Image" formats={['avif', 'webp']} />

</Layout>
