---

import Layout from '../layouts/Layout.astro';

---


<!--  ----------------------------------------------- -->
<!--  ----------  /src/pages/tienda.astro  ---------- -->
<!--  ----------------------------------------------- -->


<Layout title='Tienda'>

    <h1 class="text-4xl font-bold"> Tienda </h1>

    <a href="/"> Inicio </a>
    <a href="/nosotros"> Nosotros </a>
    <a href="/tienda"> Tienda    </a>


</Layout>
